@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}
body{
   color:#27282D;
}
.sec1{
   width: 100%;
   height: 750px;
   background: url(../img/banner_background.jpg);
   background-size:cover;
   background-position:center;
   display: flex;
   justify-content: center;
}
.sec1_center{
   width: 80%;
   height: 750px;
  
}
footer{
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
}
.for3Lines{
   width: 4%;
   height: 18px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items:center;
   cursor: pointer;
   
}
.lines{
   width: 60%;
   height: 2px;
   background-color: rgb(39, 39, 39);
   border-radius: 20px;
}
.menu{
   width: 30%;
   height: 80px;
   display: flex;
   align-items: center;
}
.menu ul{
   width: 100%;
   height: 30px;
   display: flex;
   align-items: center;
}


.menu li,a{
   text-decoration: none;
   color:black ;
   list-style: none;
   display: inline-block;
   padding: 0 10px;
   font-size: 14px;
   font-weight: 600;
   transition: 0.7s;
}
.menu li:hover{
   border-bottom: 1px solid;
}
.logo{
   width: 40%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 14px;
}
.logo  h4{
   font-weight: 400;
   color: rgb(26, 26, 26);
}
.logo b{
   font-weight: 600;
   color: black;
}
.menu2{
   width: 30%;
   height: 80px;
   display: flex;
   justify-content:flex-end;
   align-items: center;
}
.menu2 button{
   width: 120px;
   height: 40px;
   background-color: #267CF3;
   border: none;
   border-radius: 30px;
   color: white;
   font-size: 16px;
   cursor: pointer;
   transition: .5s;
}
.menu2 button:hover{
   background-color: #4d97fd;
}
.menu2 ul{
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: end;
} 
.menu2  a,li{
   font-size: 14px;
   font-weight: 600;
   transition: 0.7s;
}
.menu2 li:hover{
border-bottom: 1px solid;
}
.menu2 button i{
   color: white;
   margin-right: 10px;
   font-size: 20px;
}

.forTitle{
   width: 100%;
   height: 150px;
   display: flex;
   justify-content: center;
   font-family: 'Nunito', sans-serif;

}
.titleAndText{
   width: 60%;
   height: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: end;
   
}
.forTitle h1{
   margin-bottom: 15px;
   font-size: 45px;
}
.forTitle p{
   font-size: 15px;
   color: #85888B;
}
.forVideoButoon{
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
  
}
.buttonOnCenter{
   width: 25%;
   height: 55px;
   display: flex;
   justify-content: center;

}
.buttonOnCenter button{
   width: 200px;
   height: 50px;
   border: 1px solid rgb(155, 153, 153);
   border-radius: 50px;
   background-color: #F4F5F7;
   font-family:  'Nunito', sans-serif;
   font-size: 16px;
   font-weight: 600;
   color: #27282D;
   transition: 0.5s;
   cursor: pointer;
}
.buttonOnCenter button:hover{
   background-color: rgb(231, 231, 231);
}
.buttonOnCenter button i{
   margin-right: 7px;
   color: #27282D;
}
.forTelImg{
   width: 100%;
   height: 420px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.telImg{
   width:30%;
   height: 380px;
   background: url(../img/header_iphone.png);
   background-size: cover;
   background-position: top;
}
.sec2{
   width: 100%;
   height: 300px;
   display: flex;
   justify-content: center;
}
.sec2_center{
   width: 60%;
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.sec2_center .content{
   width: 45%;
   height: 230px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

}
.sec2_center .icon{
   width: 20%;
   height: 60px;
   display: flex;
   align-items: flex-end;
}
.sec2_center .icon i{
   font-size: 30px;
   color: #267CF3;
}
.sec2_center .title{
   width: 60%;
   height: 50px;
   font-size: 15px;
   color: #323336;
   display: flex;
   align-items: center;
}
.sec2_center h4{
   font-size: 14px;
   color:#323336;
   font-weight: 300;
}
.sec2_center .text{
   width: 100%;
   height: 70px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-family: 'Nunito', sans-serif;
   font-size: 13px;
   color: #85888B;
}
.sec3{
   width: 100%;
   height: 1250px;
   display: flex;
   flex-direction: column;
}
.sec3 .content1{
   width: 100%;
   height: 624px;
}
.sec3 .content2{
   width: 100%;
   height: 576px;
   display: flex;
   justify-content: end;
}
.sec3 .content{
   width: 90%;
   height: 100%;
   display: flex;
   align-items:center;
   display: flex;
   justify-content: space-between;
}
.c1 .phone{
   width: 43%;
   height: 500px;
   background: url(../img/iphone-feature.png);
   background-size: cover;
   background-position: right;
   
}
.c2{
   display: flex;
   justify-content: space-between;
}
.c2 .map{
   width: 70%;
   height: 97%;
   background-image: url(../img/map.png);
   background-size:contain;
   background-position: left;
   background-repeat: no-repeat;

}
.right_content{
   width: 600px;
   height: 360px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.right_content .title{
   width: 220px;
   height: 100px;
}
.right_content h4{
   font-size: 28px;
   font-family: 'Nunito', sans-serif;
}
.right_content .text{
   width: 55%;
   height: 120px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.right_content p{
   font-size: 14px;
   font-family: 'Nunito', sans-serif;
   color:#85888B;
   font-weight: 500;
}
.sec3_buttons{
   width: 45%;
   height: 100px;
   display: flex;
   align-items: center;
}
.sec3_buttons button{
   border: 1px solid rgb(155, 153, 153) ;
   margin-right: 10px;
   border-radius: 50px;
}
.sec3_buttons .button1{
   width: 160px;
   height: 35px;
   background-color:#267CF3;
   color: white;
   font-weight: 500;
}
.sec3_buttons .button1:hover{
   background-color:#4d97fd;
}
.sec3_buttons i{
   margin-left: 23px;
}
.sec3_buttons .button2{
   width: 100px;
   height: 35px;
   background-color: #fff;
   font-size: 13px;
}
.sec3_buttons .button2:hover{
   background-color: rgb(236, 236, 236);
}
.left_content{
   width: 25%;
   height: 350px;
   font-family: 'Nunito', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.left_content .title{
   width: 210px;
   height: 80px;
}
.left_content h4{
   font-size: 28px;
}
.left_content .text{
   width: 100%;
   height: 130px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.left_content p{
   font-size: 14px;
   font-family: 'Nunito', sans-serif;
   color:#85888B;
   font-weight: 500;
}
.smallText{
   width: 70px;
   height: 20px;
}
.smallText h5{
   font-weight: 600;
   font-size: 12px;
}
.partnersImages{
   width: 85%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.partnerimg{
   width:49%;
   height: 40px;
}
.partnerimg img{
   width:100%;
   height: 35px;
}
.sec4{
   width: 100%;
   height: 1500px;
   background-color: #F5F4F9;
}
.sec4_title{
   width: 100%;
   height: 200px;
   display: flex;
   justify-content: center;
}
.sec4_title .title_center{
   width: 300px;
   height: 200px;
}
.title_center .title{
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.title_center h4{
   font-size: 28px;
   font-family: 'Nunito', sans-serif;
   color:#323336;

}
.forLine{
   width: 100%;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.sec4_title .line{
   width: 50px;
   height: 2px;
   background-color:#267CF3;
   border-radius: 50px;
}
 .title_center .forText{
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
  
}
.title_center h5{
   font-weight: 700;
   color: #85888B;
}
.for_phone_pictures{
   width: 100%;
   height:900px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.for_phone_pictures .picture1{
   width:14%;
   height: 450px;
   background-image: url(../img/interface/img-1.png);
   background-position:right;
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow:#b5b5b5 3px 2px 15px;
}
.for_phone_pictures .picture2{
   width: 19%;
   height: 450px;
   background-image: url(../img/interface/img-2.png);
   background-position: bottom;
   background-size:cover;
   background-repeat: no-repeat;
   box-shadow:#b5b5b5 3px 2px 15px;
   
}
.for_phone_pictures .picture3{
   width: 23%;
   height:600px;
   background-image: url(../img/interface/main-img.png);
   background-size: cover;
   background-repeat: no-repeat;
}
.for_phone_pictures .picture4{
   width: 19%;
   height: 450px;
   background-image: url(../img/interface/img-3.png);
   background-position: bottom;
   background-size: contain;
   background-repeat: no-repeat;
   box-shadow:#b5b5b5 3px 2px 15px;

}
.for_phone_pictures .picture5{
   width:14%;
   height: 450px;
   background-image: url(../img/interface/img-4.png);
   background-position: left;
   background-size: cover;
   box-shadow:#b5b5b5 3px 2px 15px;

}
.getItSmartphone{
   width: 100%;
   height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.getItSmartphone .title1{
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;

}
.title1 h5{
   font-weight: 600;
   color: #85888B;
}
.title1 b{
   font-weight: 600;
   color: #7e8081;
}
.getItSmartphone .title2{
   width: 500px;
   height: 60px;
   display: flex;
      justify-content: center;

}
.getItSmartphone .title2 h4{
   font-size: 30px;
   font-family: 'Nunito', sans-serif;
   font-weight: 600;
}

.send_mail{
   width: 500px;
   height: 50px;
   border: 1px solid rgb(155, 153, 153);
   border-radius: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 0px 0px 25px;
}
.send_mail button{
   width: 200px;
   height: 42px;
   border: none;
   background-color: #6FC854;
   border-radius: 50px;
   color: white;
   font-size: 16px;
   font-family: 'Nunito', sans-serif;
   transition: 0.5s;
   cursor: pointer;
}
.send_mail button:hover{
   background-color: #61b348;

}
.for_download_picture{
   width: 200px;
   height: 70px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.for_download_picture img{
   cursor: pointer;
}
.for_download_picture h5{
   font-size: 12px;
   font-family:'Nunito', sans-serif;
   font-weight: 500;
   color: #c0c0c0;
}
.sec5{
   width: 100%;
   height: 530px;
   display: flex;
   justify-content: center;
}
.forPeoplesImg_center{
   width: 70%;
   height:500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}
.sec5 .forImages{
   width: 100%;
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.sec5 i{
   color: #b5b5b5af;
   font-size: 35px;
}
.img_people{
   width: 70px;
   height: 70px;
   border-radius: 50%;
}
.forImages .img1{
   width: 70px;
   height: 70px;
   background-image: url(../img/user1.jpg);
   background-size: contain;
   background-repeat: no-repeat;
}
.forImages .img2{
   width: 90px;
   height: 90px;
   background-image: url(../img/user2.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   box-shadow: #02367e86 4px 10px 15px;
}
.forImages .img3{
   width: 70px;
   height: 70px;
   background-image: url(../img/user3.jpg);
   background-size: contain;
   background-repeat: no-repeat;
}
.transparancy{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: #ebebebaf;
}
.sec5_title{
   width: 400px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.sec5_title h4{
   font-family:'Nunito', sans-serif;
   font-size: 22px;
}
.sec5_text{
   width: 460px;
   height: 65px;
   display: flex;
   align-items: flex-end;
}
.sec5_text p{
   font-size: 14px;
   color: #85888B;
   text-align: center;
}
.forStars{
   width: 150px;
   height: 45px;
   display: flex;
   justify-content: space-between;
}
.forStars i{
   color: #F4BC3B;
   font-size: 20px;
}
.forName{
   width: 130px;
   height: 30px;
   display: flex;
   justify-content: center;
}
.forName h5{
   font-size: 11px;
   font-weight: 700;
   font-family:'Nunito', sans-serif;
}
.sec6{
   width: 100%;
   height: 600px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F5F4F9;;
}
.sec6_center{
   width: 80%;
   height: 500px;
   display: flex;
   justify-content: space-between;
}
.sec6_leftContent{
  width: 30%;
  height: 400px;
}
.left .left_title{
   width: 60%;
   height: 120px;
}
.left_title h4{
   font-size: 30px;
   font-family: 'Nunito', sans-serif;
}
.individualOrCompany{
   width: 60%;
   height: 70px;
   font-family: 'Nunito', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.individualOrCompany h6{
   font-weight: 700;
}
.company{
   width: 98%;
   height: 40px;
   border: 1px solid #b5b5b5;
   border-radius: 50px;
   padding-left: 2px;
   font-size: 13px;
   padding-right: 10px;
   color: #b5b5b5;
   display: flex;
   align-items: center;
   justify-content: space-between;
  
}
.individual{
   width: 50%;
   height: 34px;
   background-color: #fff;
   border-radius: 50px;
   box-shadow:#cbcbcb 13px 10px 30px;
   font-size: 13px;
   color: #27282D;
   display: flex;
   justify-content: center;
   align-items: center;
}
.left_text{
   width: 100%;
   height: 150px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.left_text p{
   font-size: 14px;
   color: #a3a2a2;
   font-family:'Nunito', sans-serif;
}
.left_text h6{
   font-size: 12px;
   color: #b5b5b5;
}
.left_text a{
   text-decoration:underline;
   color: #267CF3;
   font-size: 12px;
}
.sec6_rightContent{
   width: 60%;
   height: 400px;
   display: flex;
   align-items: center;
   justify-content: center;

}
.right_content1{
   width: 43%;
   height: 400px;
   border-radius: 10px;
   background-color: #fff;
   box-shadow: #cbcbcb 13px 15px 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}
.right_content2{
   width: 43%;
   height: 370px;
   border-radius: 0 10px 10px 0;
   background-color: #EBEBED;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}
.right_content1 h4{
   width: 55px;
   height: 30px;
   color: #27282D;
}
.right_content1 .free{
   width: 50px;
   height: 20px;
   border: 1px solid #b5b5b5;
   border-radius: 50px;
   font-size: 12px;
   font-family:'Nunito', sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
}
.right_content1 h5{
   width: 150px;
   height: 60px;
   font-size: 16px;
   color: #a3a2a2;
   text-align: center;
   font-family: 'Nunito', sans-serif;
}
.checked{
   width: 200px;
   height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Nunito', sans-serif;
}
.checked h6{
   font-size: 13px;
   font-family: 'Nunito', sans-serif;

}
.checked i{
   color: #61b348;
   font-size: 13px;
   padding-right: 5px;
}
.right_content_button{
   width: 200px;
   height: 40px;
}
.right_content_button button{
   background-color: #267CF3;
   border: none;
   max-width: 200px;
   height: 35px;
   border-radius: 50px;
   color: white;
   cursor: pointer;
}
.buttona button{
   border: 1px solid #267CF3;
   background-color:none;
}
.sec7{
   width: 100%;
   height:200px;
   display: flex;
   justify-content: center;
}
.sec7_center{
   width: 70%;
   height: 200px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

}
.tex{
   width: 500px;
   height: 50px;
   display: flex;
   justify-content: center;
}
.tex p{
   color: #a3a2a2;
   font-size: 14px;
   font-family: 'Nunito', sans-serif;
}
.sec8{
   width: 100%;
   height: 400px;
   display: flex;
   justify-content: center;
}
.sec8_center{
   width: 80%;
   height: 400px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.info{
   width: 20%;
   height: 230px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}
.info h3{
   font-size: 14px;
}
.info b{
   font-weight: 600;
}
.info_text{
   width: 100%;
   height: 70px;
}
.info_text p{
   font-size: 13px;
   color: #a3a2a2;
   font-weight: 500;
}
.info_img{
   width: 55%;
   height: 40px;
   background-image: url(../img/app-store-download.png);
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
}
.social_icons{
   width: 90%;
   height: 40px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.social_icons i{
   color: #a3a2a2;

}
.learnMore{
   width: 50%;
   height: 250px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.texter{
   width: 28%;
   height: 125px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-family:  'Nunito', sans-serif;
}
.texter h3{
   font-size: 13px;
   font-weight: 600;
}
.texter h5{
   font-size: 13px;
   color: #85888B;
}
footer{
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: center;
}
.footer_center{
   width: 80%;
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer_center .link{
   width: 400px;
   height: 60px;
   display: flex;
   align-items: center;
}
.link p{
   color: #a3a2a2;
   font-size: 13px;
}
.link a{
   font-size: 13px;
   font-weight: 400;
   text-decoration: underline;
   color: #267CF3;
}
.madeWith{
   width: 250px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content:flex-end;
}
.madeWith h6{
   font-size: 9px;
   font-weight: 800;
   padding-right: 5px;
}
